header{
    font-size: 200%;
    text-align: center;
    line-height: 250%;
}
body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
footer{
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
}

h3{
    color: red;
}

main{
    padding: 30px;
}